#app{
	position: absolute;
	height: 100%;
	width:100%;
}
#app a{
	color: #fff!important;
}
.padding-none{
	padding: 0;
}
.margin-none{
	margin: 0;
}
.flex{
	display: flex;
}
.flex-center{
	justify-content: center;
	align-items: center;
}


.row{
	margin-top: 10px;
	margin-bottom: 10px;
}
/*HEADER*/
#app header{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	height: 100px;
	width: 100%;
	background: #444;
	position: fixed;
	color: white;
	z-index: 100;
}
#app header nav a{
	font-family: 'Montserrat', sans-serif;
	margin-left: 5px;
}


/*ASEIDE*/
#app aside{
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	width: 200px;
	height: calc(100% - 100px);
	background: orange;
	top: 100px;
	/*overflow-y: scroll;*/
	z-index: 100;
}


/*BODY*/
#app #body{
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding: 50px;
	width: calc(100% - 200px);
	min-height: calc(100% - 100px);
	margin-top: 100px;
	margin-left: 200px;
}

/*CARD*/

.card-container{
	font-family: 'Montserrat', sans-serif;
	height: 300px;
	background-color: red;

}
.card-body{
	position: relative;
}
.card-body .btn-fixed{
	position: absolute;
	right: 7.5px;
	bottom: 7.5px;

}

/*.form-main{
	-webkit-column-count:2;
	height: 300px;
}*/


/*menu desplegable*/
.menu-container{
	width: 100%;
	color: #fff;
	min-width: 40px;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,0.35);
}
.menu-container a{
	text-decoration: none;
}
.menu-container .title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.menu-container .title, .menu-container .option{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	transition: all .3s;
	padding-left: 10px;
	cursor: pointer;
}

.menu-container .title:hover, .menu-container .option:hover{
	background-color: rgba(0,0,0,0.2);
	padding-left: 25px;
}
.menu-container .hide{
	display: none;
}
.menu-active{
	background-color: rgba(0,0,0,0.2);
}
.menu-active .title{
	background-color: rgba(0,0,0,0.2);
}
.menu-active .menu .option{
	padding-left: 30px;
	transition: all .3s;
}
.menu-active .menu .option:hover{
	padding-left: 35px;
}

/*FOOTER*/
footer{
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	position: absolute;
	background-color: #000;
	width: calc(100% - 200px);
	min-height: 200px;
	margin-left: 200px;
	color: #aaa;
}
footer a{
	display: flex;
}
